<table>
    <tr>
        <td>
            <p>Jose Obed Mariano Hipolito</p>
            <p>Soy estudiante de ingenieria de software en la universidad veracruzana, actualmente me encuentro mejorando mis conocimientos adquiridos en el transcurso de la carrera.<br/>
            Me interesa mucho aprender sobre inteligencia artificial y desarrollar una maestria en esa area en un futuro</p>
        </td>

        <td>
            <img src="../../assets/images/foto.jpg" width="100" height="100"/>
        </td>

        <td>
            <ul>
                <li>obedhipolito@gmail.com </li>
                <li>2871171530</li>
                <li>Orizaba, Veracruz</li>
                <li>@obedhipolito</li>
            </ul>
        </td>
    </tr>
</table>
