<h3>Skills y competencias</h3>
<td>
    <tr>
        <h5>Responsabilidad:</h5>
        <meter min ="0" max="100" value="100"></meter>
        <h5>Organizacion:</h5>
        <meter min ="0" max="100" value="90"></meter>
        <h5>Iniciativa:</h5>
        <meter min ="0" max="100" value="80"></meter>
        <h5>Html:</h5>
        <meter min ="0" max="100" value="70"></meter>
        <h5>CSS:</h5>
        <meter min ="0" max="100" value="65"></meter>
        <h5>Angular:</h5>
        <meter min ="0" max="100" value="30"></meter>
    </tr>
</td>
